<html lang="en" class="no-js" lang="en">
<head>

  <title>tool-inventory</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!--
  <link rel="icon" type="image/x-icon" href="favicon"> --}}

  <link rel="icon" src="/public/favicon.ico?v=1.1">
 {{!-- <link rel="icon" href="public/assets/images/favicon.ico"> --}}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
    crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js">
  </script>


</head>

<body>

  <div id="bar-menue" class="top-bar">
    <div class="top-bar-left">
      <img id="coatlogo" src="/assets/images/coat.jpg" alt="Italian Trulli" alt="" width="60" height="30">

      <ul class="menu align-center">

        <li class=""><a href="/">Home/Search</a></li>
        <li class=""><a href="/addItemPageAndDepartments">Create Item</a></li>
        <li class=""><a href="/allItems">All Items</a></li>
        <li class=""><a href="/allDepartments">See Departments</a></li>

        <li class=""><a href="/addDepartmentPage/new">New Department</a></li>

      </ul>
    </div>
  </div>


  <main id="mainContent">
  {{!-- <main id="mainContent" style=" min-height: 100vh; display:flex; flex-direction:column; "> --}}
{{{body}}}
  </main>
    



    <div id="container">
    <div class="small-12 columns">
      <ul class="menu align-center">
        <li class=""><a href="/"><img id="coatlogo" src="/assets/images/coat.jpg" alt="Italian Trulli" alt="" width="60"
              height="30"></a></li>
      </ul>
    </div>
    <footer id="footer">
    {{!-- <footer id="footer" style="margin-top: auto;"> --}}
      <div class="small-12 columns">
        <nav aria-label="You are here:" role="navigation">
          <div class="breadcrumbs">

            <ul class="menu align-center">
              <li class=""><a href="/">Home/Search</a></li>
              <li class=""><a href="/addItemPageAndDepartments">Create Item</a></li>
              <li class=""><a href="/allItems">All Items</a></li>
              <li class=""><a href="/allDepartments">All Departments</a></li>
              <li class=""><a href="/addDepartmentPage/new">New Department</a></li>
            </ul>

          </div>
        </nav>
      </div>
    <hr>
    </footer>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
    crossorigin="anonymous"></script>

  <script>
    $(document).foundation();
  </script>



</body>

</html>