<!DOCTYPE html>
<html lang="en" class="no-js" lang="en">
	<head>

		<title>tool-inventory</title>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
<script>src="/assets/js/search.js"</script>
	</head>
	<body>
    
		<div id="bar-menue" class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Company Name</li>
          <li class=""><a href="/">Home</a></li>
          <li class=""><a href="/item/new">Create</a></li>
          <li class=""><a href="/allItem">All Items</a></li>
        </ul>
      </div>
    </div>

		{{{ body }}}
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
  // compile the template
  var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "rocks!" }));
</script>
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>

    <script>
      $(document).foundation();
    </script>
   


	</body>
</html>