
   <br>
    <div class="grid-x align-center">
<div class="cell small-6">
         <div class="callout">
             <h1>Add New Department or Crew</h1>
                
<a class="button secondary" href="/">Back</a>
  
              </div>
              <form id="chevy-rider">
<label>
   Department:
          <input type="text" value="{{name}}" id="new-name"  aria-label="add department name">
</label>
        
  
<label>
          Supervisor:
          <input type="text" value="{{supervisor}}" id="new-supervisor"  aria-label="add supervisor">
</label>        
        
   
<label>
         lead:
          <input type="text" value="{{ lead}}" id="new-lead" aria-label="add lead">
</label>
      
   

        <input type="hidden" value="{{id}}" id="new-id" >

      <button type="submit" class="button success">Add</button>
     </form>
    
    </div>

    </div>
    <script src="/assets/js/departmentCrewAdd.js"></script>