
   <br>
   <article class="grid-container">
   <div class="row">
     <div class="large-6 columns panel" >
    <div class="grid-x align-center">
    <div class="grid-y align-center">

{{!-- <div class="cell small-10"> --}}
         <div class="callout">
             <h1>Add New Department or Crew</h1>
                
<a class="button secondary" href="/">Back</a>
  
              </div>
              <form id="chevy-rider">
<label>
   Department:
          <input type="text" value="{{departmentName}}" id="new-departmentName"  aria-label="add department name">
</label>
        
  
<label>
          Supervisor:
          <input type="text" value="{{supervisor}}" id="new-supervisor"  aria-label="add supervisor">
</label>        
        
   
<label>
         Lead:
          <input type="text" value="{{lead}}" id="new-lead" aria-label="add lead">
</label>
      
      <button type="submit" class="button success">Add</button>
     </form>
    
    </div>

    </div>
    </div>
    </div>
    </article>

    
    <script src="/assets/js/departmentAdd.js"></script>