
<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4"></div>
    <div class="cell small-4"><h1>Add Tool</h1></div>
    <div class="cell small-4"></div>
  </div>
</div>
 <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Tool Name
          <input type="text" placeholder="tool name" id="tool-name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Assigned To
          <input type="text" placeholder="name of th employee assigned to" id="assigned-to">
        </label>
      </div>
       <div class="medium-6 cell">
        <label>Tool placement
          <input type="text" placeholder="Tool Trailer/Driver assignd vihicle" id="where-placement">
        </label>
      </div>
       <div class="medium-6 cell">
        <label>Placement Location
          <input type="text" placeholder="left side topshelve" id="exact-location">
        </label>
      </div>
    </div>
  </div>

   <div class="input-group-button">
    <input type="submit" class="large button" value="Submit" id="add-tool">
</form>
   </div>
   
</div>