<div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Tools</li>
          <li><a href="/add">Add A Tool</a></li>
          <li><a href="#">Find A Tool</a></li>
          <li><a href="#">Eddit Tool Info</a></li>
        </ul>
      </div>
    </div>
<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4"></div>
    <div class="cell small-4"><h1>Add Tool</h1></div>
    <div class="cell small-4"></div>
  </div>
</div>
 <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Tool Name
          <input type="text" placeholder="tool name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Asinged To
          <input type="text" placeholder="name of employee assignd to">
        </label>
      </div>
       <div class="medium-6 cell">
        <label>Tool placement
          <input type="text" placeholder="Tool Trailer/Driver assignd vihicle">
        </label>
      </div>
       <div class="medium-6 cell">
        <label>Placement Location
          <input type="text" placeholder="left side topshelve">
        </label>
      </div>
    </div>
  </div>
</form>
   </div>
   
</div>