<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-7"><h1>All Items</h1></div>
    <div class="cell small-2"></div>
  </div>

<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4"></div>
    <div class="cell small-4"><ul>
    {{#each allItems}}
<li>
    {{name}}-{{count}}
    
</li>
    {{/each}}
</ul> </div>
    <div class="cell small-4"></div>
  </div>



