<br>
  <article class="grid-container">
      <div class="grid-x align-center">
                 <div class="callout">
             <h1>Edit Department Info</h1>
                
             <a class="button secondary" href="/">Back</a>
  
              </div>
        <div class="cell medium-8">
         <form id="departmentEditForm">

<label>
   Department Id:
  <input type="hidden" value="{{departmentToEditInfo.id}}" id="department-id" aria-label="input for the name of department" >
</label>
           
<label>
 Department Name:
<input type="text" value="{{departmentToEditInfo.departmentName}}" id="new-departmentName" aria-label="input for the name of department">  
</label>

<label>
  Supervisor:
    <input type="text" value="{{departmentToEditInfo.supervisor}}" id="new-supervisor" aria-label="input for the name of supervisor"> 
</label>




<label>
  Lead:
<input type="text" value="{{departmentToEditInfo.lead}}" id="new-lead" aria-label="input for department lead">
</label>




       
               
   <button type="submit" class="button">update</button>
        </form>
        </div>
      </div>
   </article>
 <script src="/assets/js/departmentEdit.js"></script>

