           <a href="/allItem">  <button>back</button> </a> 
             <div class="callout">
                 name: <h3> {{name}} </h3>
              </div>
              
             <div class="callout">
                 location/discription: <h3>{{placement}} </h3>
              </div>
             <div class="callout">
                serial/part#:  <h3>{{serial}} </h3>
              </div>
             <div class="callout">
                  count:<h3>{{count}} </h3>
              </div>
          
              

    