<div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Tools</li>
          <li><a href="/add">Add A Tool</a></li>
          <li><a href="#">Find A Tool</a></li>
          <li><a href="#">Eddit Tool Info</a></li>
        </ul>
      </div>
    </div>
<div class="callout large primary">
      <div class="row column text-center">
        <h1>Welcome To Your Tool Finder</h1>
        <h2 class="subheader">keeping track of tools for everyone</h2>
      </div>
    </div>