
<div class="callout large primary">
      <div class="row column text-center">
        <h1>Welcome To Inventory Finder</h1>
        <h2 class="subheader">Tracking Inventory for everyone</h2>
      </div>
    </div>
    <div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-7">  <ul class="no-bullet">list of</ul>
<ul class="list-disc"><li>parts</li>
</ul>
<ul class="list-circle"><li>tools</li></ul>
<ul class="list-square"><li>supplies</li></ul></div>
    <div class="cell small-2"></div>
  </div>
