
        <div class="callout large primary">
          <div class="text-center">
            <h1>Created Inventory</h1>
          </div>
        </div>
    
    <article class="grid-container">
        <div class="grid-x grid-margin-x" id="content" data-mutate="f95ynl-sticky" data-events="mutate">
          <div class="medium-9 cell">
               <div class="blog-post">
             <div class="callout">
                  <h3>Announcement for: <small>3/6/2016</small></h3>
              </div>
              
              <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
            </div>
              <div class="blog-post">
             <div class="callout">
                  <h3>Announcement for: <small>3/6/2016</small></h3>
              </div>
              
              <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
            </div>

<div id="show-place" class="blog-post">
             <div class="callout">
<div class="card" style="width: 300px;">
  <div  class="card-divider">
  </div>
  </div>
 </div>
  </div>

          </div>
          <div class="medium-3 cell sticky-container" data-sticky-container="" style="height: 287.125px;">
            <div class="sticky is-anchored is-at-top" data-sticky="" data-anchor="content" data-resize="f95ynl-sticky" data-mutate="f95ynl-sticky" data-e="apotcy-e" data-events="mutate" style="margin-top: 0px; bottom: auto; top: 0px; max-width: 355px;">
              <h4>Categories</h4>
              <ul>
                <li><a href="/allItem">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
              </ul>
    
         <div class="callout secondary">
           <form id="tax-form">
              <div class="grid-x">
                <div class="small-12 cell">
                  <label>Find Your Saved Item
                    <input id="g-search" type="text" aria-label="input to search" placeholder="Search destinations">
                  </label>
          
                  <button id="g-button" type="submit" class="button">Search Now!</button>
                </div>
              </div>
            </form>
          </div>
            </div>
          </div>
        </div>
    </article>

    <script>
      $("#tax-form").on("submit", function (event) {
event.preventDefault();
        var itemToSearch = $("#g-search").val().trim();
        itemToSearch = itemToSearch.replace(/\s+/g, "").toLowerCase();
$.ajax({
  url: `api/item/${itemToSearch}`,
  method: "GET"
}).then(function (dataman){
  $("#show-place").empty();
    if(!dataman){
      $("#show-place").append("<h2> could not find your item that was searched for, try a search all")
    }
else {
$("#show-place").append("<h2>"+`{{name}});
$("#show-place").append( {{placement}} );
$("#show-place").append("<h2>Serial-Part#:"+`${{serial}}`+"</h2>");
$("#show-place").append("<h2>Count:" +`{{count}}`+"</h2>");
}
        })
 
})


   
    </script>


     
